body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}

#remote {
    background-color: #333333;
    max-width: 320px;
    min-height: 100vh;
    box-sizing: content-box; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    /* justify-content: center; */
}

p {
    padding: 0 30px;
    text-transform: none;
}

.input-text {
    margin: 0 20vw 10px 20vw;
    background-color: grey;
    width: 60vw;
    height: 30px;
}




.section {
    max-width: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.label {
    width: 100%;
    padding: 5px 0 5px 10px;
    margin: 5px 0;
    border-top: 1px solid grey;
}

.empty {
    width: 82px;
    margin: 5px;
    }


.button {
    padding: 8px 0;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 80px;
    margin: 5px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.75);
    height: 20px;

}

.button:hover {
    cursor: pointer;
    background-color: #111111;
}

.small {
    width: 57px;
    font-size: x-small;
    height: 15px;
}

.paddleUp {
    margin: 5px 30px 0 30px;
    border-bottom: 1px solid #333333;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    width: 60px;
    font-size: x-large;
    text-align: center;
}

.paddleDown {
    margin: 0 30px 5px 30px;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    width: 60px;
    font-size: x-large;
    text-align: center;
}

.emoji {
    color: transparent;
    font-size: xx-large;
    text-shadow: 0 0 0 grey;
    text-align: center;
}

#PowerOff {
    background-color: green;
}

#Netflix {
    background-color: rgb(200, 0, 0);
}

#Yellow {
    background-color: yellow;
}

#Red {
    background-color: rgb(200, 0, 0);
}

#Blue {
    background-color: steelblue;
}

#Green {
    background-color: green;
}

.blue {
    background-color: steelblue;
    /* color: black; */
}

.hidden {
    display: none;
}
